body {
   font-family: "Roboto", sans-serif;
   font-family: 'Raleway', sans-serif;


/*  heder*/
 .logo {
font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   color: #2196F3;
}

.logo-header {
color: #000000
}
.link {
   text-decoration: none;

}

/*  hero*/



/*  hero*/
ul {
   list-style: none;
}

<!--Фільтри-->
.button:hover,
.button:focus {
color: 2196F3;
}
