body {
   font-family: "Roboto", sans-serif;
}
.list {
   list-style: none;
}
.link {
   text-decoration: none;
}
/*-------Шапка сайту--*/
.header {
   background-color: #FFFFFF;
}

.logo {
   font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0.03em;
      color: #2196F3;
}
.logo-header {
   color: #000000;
}
.nav-link {

      font-weight: 500;
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.02em;

      color: #212121;
}
.nav-link:hover,.nav-link:focus {
   color: #2196F3
}
.header-mail,
.header-tel {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16/12);
      letter-spacing: 0.02em;
      color: #757575;
}
.header-mail:hover,
.header-mail:focus{
     color: #2196F3
}
 .header-tel:hover,
 .header-tel:focus {
   color: #2196F3
}



/*-------Герой--*/
.hero{
   background-color: #2F303A;
}
.hero-title {
   font-weight: 900;
   font-size: 44px;
   line-height: calc(60/44);
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
}
.hero-button {
   font-weight: 700;
   font-size: 16px;
   line-height: calc(30/16);
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   cursor: pointer;
   background: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   width: 216px;
   height: 50px;
   border: none;
}
/*-------Особливості--*/
.about-sub-tittle {
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16/14)
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
}
.about-description {
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #757575;
}
/*-------Чим ми займаємося--*/
.design-title{
   font-weight: 700;
   font-size: 36px;
   line-height: calc(42/36);
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
}
/*-------Наша команда--*/
.team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: calc(42/36);
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
}
.team-sub-title {
   font-weight: 500;
   font-size: 16px;
   line-height: calc(19/16);
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
}
.team-description {
   font-weight: 400;
   font-size: 16px;
   line-height: calc(19/16);
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
}
/*-------Підвал--*/
.footer {
   background: #2F303A;
}
.logo-footer {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: calc(31/26);
   letter-spacing: 0.03em;
   color: #2196F3;

}
.logo-footer-span {
color: #FFFFFF;
}
.footer-link {
   font-weight: 400;
      font-size: 14px;
      line-height: calc(24/14);
      letter-spacing: 0.03em;
      color: #FFFFFF;
}
.footer-address {
   font-weight: 400;
      font-size: 14px;
      line-height: calc(24/14);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
}