body {
   font-family: "Roboto", sans-serif;
   font-family: 'Raleway', sans-serif;


/*  heder*/
.logo {
font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   color: #2196F3;
}

.logo-header {
color: #000000
}
.link {
   text-decoration: none;

}
.nav-list {}

.nav-item {}

.nav-link {
   font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;

      color: #212121;z
}

}
/*  hero*/
.hero {

}
/*  hero*/
ul {
   list-style: none;
}

< !--Фільтри-->
.button:hover,
.button:focus {
color: 2196F3;
}
